body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#header {
  background-color: #bf80ff;
  align-items: center;
}

#tucineya {
  color: #660029;
  font-family: "Dosis", sans-serif;
  position: relative;
  animation-name: desplazarse;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.4, 0.23, 0.36, 1.51)
}

.card.card-poster {
  width: 70%;
  height: auto;
  margin-bottom: 0.5rem;
  margin: 0 auto;
  flex-direction:column;
}

#premiere {
  height: 25em;
  overflow: auto;
}

.premiere {
  width: 200px;
  height: auto;
}

#card-premiere {
  z-index: -1;
}

#posters-premiere {
  width: 80%;
  height: auto;
  margin-bottom: 0.8rem;
  align-self: center;
}

#title-premiere {
  font-weight: bold;
  font-size: 1.3rem;
}


img.icons-home {
  width: 6em;
  height: auto;
  vertical-align: middle;
}

button#btn-abrir-popup.btn {
  margin-top: 2em;
}

.icon {
  width: 50px;
  height: 50px;
}

.footer {
  background-color: #bf80ff;
  left: 0;
  bottom: 0;
  font-family: "Dosis", sans-serif;
  width: 100%;
  overflow: hidden;
  height: 5em;
  position: fixed;
  margin-bottom: 0px;
  right: 0px;
  left: 0;
  bottom: 0;
  align-items:center;
}

.footer > .row > .col-sm {
  margin-top: 20px;
}
.icon:hover{
  transform: scale(1.3);
}



.contenedor article {
  line-height: 28px;
}

.contenedor article h1 {
  font-size: 30px;
  text-align: left;
  padding: 50px 0;
}

.contenedor article p {
  margin-bottom: 20px;
}

.contenedor article .btn-abrir-popup {
  height: 40px;
  line-height: 40px;
  border: none;
  color: #fff;
  background: #5e7de3;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease all;
  cursor: pointer;
}

.contenedor article .btn-abrir-popup:hover {
  background: rgba(94, 125, 227, 0.9);
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
}

#imgPelicula {
  width: 150px;
  height: 200px;
}

#cardText {
  font-size: 20px;
}

.card {
  flex-direction: row;
}

.contenedor-inputs{
  display: flex;
  flex-direction:column ;
  gap:10px;
}

.btn-submit{
  /* display: flex;
  flex-wrap:wrap; */
  margin-top:10px;
  border-radius: 3px;
  text-align: center;
  border:none;
  
}
  .title-sub{
    display: flex;
    margin-left:182px;
    justify-content: center;
  }
  
  


/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */

@keyframes desplazarse {
  0% {
      right: 50%;
      
  }
  50% {
      
      left: 70%;
  }
  100% {
      left: 0%;
      
  }
}


#imgPelicula {
  width: 150px;
  height: 200px;
}

#cardText {
  font-size: 20px;
}

.card {
  flex-direction: row;
}
/* butacas */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --selected-color: #2ecc71;
  --occupied-color: #e74c3c;
  --available-color: #fff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #242333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 1000px;
  margin-bottom: 3px;
}

.seat {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: var(--selected-color);
}

.seat.occupied {
  background-color: var(--available-color);
}

/* Selects the second row f*/
.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied) {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied) {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: #6feaf6;
}

